<div id="MobDrop">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button class="base" data-background="basic_interface/sys_base_off.bmp" data-hover="basic_interface/sys_base_on.bmp"></button>
			<span class="text">Map Monsters</span>
		</div>
		<div class="right">
			<button class="base close" data-background="basic_interface/sys_close_off.bmp" data-hover="basic_interface/sys_close_on.bmp"></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="mapname"></div>
	<div class="container">
		<div class="moblist-wrap">
			<div class="scroll-host">
				<div class="moblist"></div>
			</div>
		</div>
		<div class="dropdetail-wrap">
			<div class="scroll-host">
				<div class="dropdetail"></div>
			</div>
		</div>
	</div>
	<div class="footer">
		<span class="hint">右键物品看详情</span>
		<button class="refresh-btn">刷新</button>
	</div>
</div>
